.section0 {
  background-position-x: 40%;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  @media screen and (max-width: 1224px) {
    background-position-x: 80%;
    background-size: 100%;
    background-position: bottom;
    height: 100vh;
  }
  height: 100vh;
}
.section1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0 5%;
  font-weight: 700;
  font-size: 1.5rem;

  p {
    width: 40%;
    height: 10%;
    font-size: 1.5em;
    text-align: center;
    color: #cd9806;
    background-color: #0d0d0db0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    border-radius: 10px;
    font-family: "Alex Brush", cursive;

    // font: 400 10vh;
    @media screen and (max-width: 1224px) {
      // background-color: #cd9706;
      font-size: 2em;
      width: 100%;
      height: 100%;
      text-align: center;
      letter-spacing: 5px;
      padding: 0 10%;
      font-weight: 400;
    }
  }
}
.section2 {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  padding: 5%;
  @media screen and (max-width: 1224px) {
    flex-direction: column;
    background-size: 110vh;
    justify-content: center;
  }
  .textContainer {
    // height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 4vh;
    @media screen and (max-width: 1224px) {
      line-height: 2.3vh;
      width: 100%;
      height: 70%;
      justify-content: center;
      margin: 0;
    }
    .title {
      display: flex;
      @media screen and (max-width: 1224px) {
        padding: 0 5%;
      }
      h2 {
        font-size: 2em;
        margin: 0;
        font-weight: 600;
        color: #cd9706;
        @media screen and (max-width: 1224px) {
          color: #cd9706;
        }
      }
      .line {
        height: 50%;
        margin-left: 5%;
        height: 100%;
        border-radius: 20px;
        width: 4px;
        background-color: #82560c;
      }
    }
    p {
      color: #c5c5c5;
      text-align: justify;
      background-color: #0d0d0db0;
      border-radius: 10px;
      padding: 2.5%;
      @media screen and (max-width: 1224px) {
        background-color: transparent;
        padding: 5%;
        color: #c5c5c5;
      }
    }
  }
}
.section3 {
  height: 86vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: auto;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: #82560c;
  overflow: hidden;
  @media screen and (max-width: 1224px) {
    flex-direction: column;
    height: 90vh;
    background-size: cover !important;
    overflow: hidden;
  }

  p {
    font-size: 2em;
    @media screen and (max-width: 1224px) {
      font-size: 1.5em;
    }
  }
  .section3Wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    padding: 0 5%;
    align-items: center;

    .writing {
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (max-width: 1224px) {
        h1 {
          margin: 0;
          color: #cd9706;
        }
        height: 80%;
        padding: 5%;
      }
    }
    .section3Button {
      height: 5vh;
      // width: 30%;
      border: 2px solid #cd9706;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      font-weight: 700;
      transition: scale 0.3s;
      color: #c5c5c5;
      cursor: pointer;
      @media screen and (max-width: 1224px) {
        width: 100%;
        height: 10vh;
        color: #c5c5c5;
      }
    }
    .section3Button:hover {
      scale: 0.93;
    }
    p {
      font-size: 1em;
      // text-align: justify;
      // text-align-last: center;
      @media screen and (max-width: 1224px) {
        width: 80vw;
        color: #c5c5c5;
      }
    }
    .section3Left {
      background-color: #82560c;
      width: 66%;
    }
  }
}
.section4 {
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // // background-color: #a2a2a2;
  background-size: 100%;
  background-position-y: center;
  background-repeat: no-repeat;
  @media screen and (max-width: 1224px) {
    height: 90vh;
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.section5 {
  top: 15vh;
  height: 85vh;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1224px) {
    background-size: 100vh 100vw;
    height: 90vh;
  }
  .comingSoon {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    p {
      margin: 0;
      font: 400 5vh "Vibur";
      color: #82560c;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #000, 0 0 0.5em #000,
        0 0 0.1em #000, 0 10px 3px #000;
      @media screen and (max-width: 1224px) {
        font-size: 2em;
      }
    }
    b {
      font: 400 5vh "Vibur";
      font-size: 2em;
      color: #fee;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #82560c, 0 0 0.5em #82560c,
        0 0 0.1em #82560c, 0 10px 3px #000;

      @media screen and (max-width: 1224px) {
        font-size: 1.5em;
      }
      span {
        animation: blink linear infinite 2s;
      }
      span:nth-of-type(2) {
        animation: blink linear infinite 3s;
      }
    }
  }

  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79% {
      color: #000;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #000;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #000;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
}

// GALLERY PAGE
.galleryContainer {
  .topSection {
    height: 85vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      113.46deg,
      #000000 26.31%,
      #2f2f2f8e 61.54%,
      #000000 98.39%
    );
    .textAndImageContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // height: 90%;
      .bannerText {
        margin-top: -100px;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        h1 {
          font-size: 5.5em;
          line-height: 80px;
          margin: 0;
        }
      }
      .imageContainer {
        img {
          height: 85vh;
        }
      }
    }
    .heroText {
      margin-top: -15vh;
      display: flex;
      justify-content: center;
      p {
        text-align: center;
        width: 45%;
        font-size: 1.3em;
        color: #c5c5c5;
      }
    }
  }
  .bottomSection {
    // height: 100%;
    margin: 10vh 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modelContainer {
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    .imgContainer {
      width: 100%;
      height: 100%;
      position: relative;
      transition: 0.3s scale;
      filter: grayscale(1);
      img {
        z-index: -1;
        width: inherit;
      }
      .showDesc {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        h1 {
          text-align: center;
          font-size: 2em;
          color: #000;
        }
      }
      .showMore {
        top: 45%;
        left: 20%;
        position: absolute;
        justify-self: center;
        border: 2px solid #82560c;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.699);
        height: 10%;
        width: 60%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 1em;
        }
      }
    }
    .imgContainer:hover {
      scale: 0.98;
      filter: grayscale(0);
      cursor: pointer;
      img {
        filter: blur(2px);
      }
    }
  }
}

// FORM ITEM CONTAINER
.FormContainer {
  height: 100vh;
  padding-top: 20vh;
  padding-bottom: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .FormTitle {
    // width: 80vw;
    padding: 0 10vh;
    background-color: #000;
    color: #c5c5c5;
  }
  .formContents {
    height: 100%;
    width: 90vw;
    display: flex;
    justify-content: center;
    form {
      width: 80%;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 5%;
      label {
        width: 100%;
      }
      .sex {
        display: flex;
        .radioContainer {
          width: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
      input {
        height: 5vh;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #cd9706;
        background-color: transparent;
        color: #c5c5c5;
        text-indent: 10px;
      }

      input[type="submit"] {
        margin-top: 10%;
        background-color: #cd9706;
        color: #1d1d1d;
        cursor: pointer;
        transition: scale 0.3s;
      }
      input[type="submit"]:hover {
        scale: 0.95;
      }
      .subInput {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 5%;
        // background-color: #2d2d2d;
        input {
          display: flex;
          // width: 20vw;
          margin-top: 10px;
        }
      }
    }
  }
}

.FormContainer2 {
  height: 65vh;
  padding-top: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  .FormTitle {
    // width: 80vw;
    padding: 0 20vh;
    background-color: #000;
    color: #c5c5c5;
  }
  .formContents {
    height: 100%;
    width: 90vw;
    display: flex;
    padding-bottom: 10vh;
    justify-content: center;
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      column-gap: 5%;
      label {
        width: 100%;
      }

      input {
        height: 5vh;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #cd9706;
        background-color: transparent;
        color: #c5c5c5;
        text-indent: 10px;
      }

      input[type="submit"] {
        margin-top: 2%;
        background-color: #cd9706;
        color: #1d1d1d;
        transition: scale 0.3s;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        scale: 0.95;
      }
    }
  }
}
