@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
.MainContainer {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  color: #ffffff;
  // background-color: #fff;
  background-position-x: 40%;
  // background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
